h1 {
    font-family: 'Playfair Display';
    font-size: 48px;
    color: $black;
    line-height: 150%
}
.container {
    min-height: 100%
}

h2 {
    font-family: 'Montserrat';
    font-size: 24px;
    color: $black;
    line-height: 150%
}

h3 {
    font-family: 'Montserrat';
    font-size: 16px;
    color: $black;
    line-height: 150%
}

.top-bar {
    font-family: 'Montserrat';
    font-size: 15px;
    color: $black;
    line-height: 240%;
}

body {
    padding-bottom: 96px;
  }

p, .custom {
    font-family: 'Open Sans' !important;
    font-size: 16px;
    color: $black;
    line-height: 150%
}

.register-button {
    padding: 8px 16px;
    background: $red;
    color: $white;
    border-radius: 20px;
}

.continue-shopping {
    color: $red;
    background: $cream;
    border-radius: 20px;
}

button {
    cursor: pointer;
}
button:disabled {
    cursor: not-allowed;
}

.checkout {
    color: $white;
    background: $red;
    border-radius: 20px
}
.discount-heading {
    color: $red
}
.white {
    color: $white;
}
.red {
    color: $red;
}
.ash {
    color: $ash
}
.grey-background {
    background-color: $ash;
}
.black {
    color: $black;
}

.discount-card-background {
    background: $cream
}
button {
    font-family: 'Montserrat';
}

.hover-blue :hover {
    color: $sky-blue
}

.left-text {
    text-align: left !important
}

.right-text {
    text-align: right !important
}
.footer {
    background-color: $ash;
    left: 0;
    bottom: 0;
    position: absolute;
    color: $white !important;
    padding: 10px;
    width: 100%;
    height: 80px;
    margin-top: -80px
  }
.nav-divider {
    background-color: $red;
    height: 0.1px;
  }
@media(min-width: 320px) and (max-width: 640px) {
    p {
        font-family: 'Open Sans';
        font-size: 12px;
        color: $black;
        line-height: 200%
    }
    h1 {
        font-size: 24px;
    }
    
    h2 {
        font-size: 15px;
    }
    
    h3 {
        font-size: 14px;
    }
}