@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  font-family: 'Open Sans';
  font-size: 16px;
  max-width: 100%;
  margin: 0;
  padding: 0
}

html, body {
  min-height: 100%;
  position: relative;
}